@import "../imports.css";

.trip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
}

.trip-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #B4B4B4FF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 400px;
    text-align: center;
    backdrop-filter: blur(8px);
}

.trip-box label {
    font-weight: 600;
    color: white;
    display: block;
    text-align: left;
    margin-top: 10px;
}

.stop-group {
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.btn-outline-light:hover {
    background: white;
    color: black;
}

#trip-submit {
    width: 100%;
    border-radius: 8px;
    background-color: #d02b2b;
    color: white;
}

#trip-submit:hover {
    background-color: #b21c1c;
}
