<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Trips</title>
    <link rel="stylesheet" th:href="@{/css/trip-route-filter-table.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&display=swap" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }

        .notification {
            margin: 20px;
            font-style: italic;
            color: #888;
        }
    </style>
</head>
<body>
<div id="main">
    <div class="title-container">
        <h1 class="title">My Trips</h1>
    </div>

    <div class="filter-container-wrapper">
        <div class="filter-container d-flex flex-column align-items-center">
            <div class="filter-heading mb-3">
                <img src="/images/filter.png" alt="Filter Icon">
                <span>Filter</span>
            </div>

            <div class="mb-3 trip-filter-criteria w-100">
                <label for="statusFilter" class="form-label">Status</label>
                <select id="statusFilter" class="form-control">
                    <option value="">All Statuses</option>
                    <option value="NOT_STARTED">Not Started</option>
                    <option value="IN_PROGRESS">In Progress</option>
                    <option value="FINISHED">Finished</option>
                </select>
            </div>

            <div class="mb-3 trip-filter-criteria w-100">
                <label for="afterDate" class="form-label">After Date</label>
                <input type="date" id="afterDate" class="form-control" placeholder="After Date">
            </div>
            <div class="mb-3 trip-filter-criteria w-100">
                <label for="beforeDate" class="form-label">Before Date</label>
                <input type="date" id="beforeDate" class="form-control" placeholder="Before Date">
            </div>
            <div class="mb-3 trip-filter-criteria w-100">
                <label for="companyFilter" class="form-label">Company Name</label>
                <input type="text" id="companyFilter" class="form-control" placeholder="Company Name">
            </div>
            <div class="mb-2 text-center">
                <button id="resetFiltersButton" class="btn-standard">Reset Filters</button>
            </div>
        </div>
    </div>

    <div class="routes-container">
    </div>
    <div class="routes-table-wrapper">
        <table class="routes-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Free Seats</th>
                <th>Status</th>
                <th>Route</th>
                <th>Company</th>
                <th>Stops</th>
                <th>Manage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trip : ${trips}" th:attr="data-status=${trip.getStatus()}">
                <td th:text="${trip.getDate()}"></td>
                <td th:text="${trip.getFreeSeats()}"></td>
                <td th:text="${trip.getStatus()}"></td>
                <td th:text="${trip.getRoute().getSource().getName()} + ' - ' + ${trip.getRoute().getDestination().getName()}"></td>
                <td th:text="${trip.getTranOrg.getCompanyName()}"></td>
                <td th:if="${!trip.getStops().isEmpty()}">
                    <ul class="list-unstyled">
                        <li th:if="${!trip.getStops().isEmpty()}" th:each="stop : ${trip.getStops()}">
                            <span class="fw-bold" th:text="${stop.getLocation().getName()}"></span>
                            (<span class="text-muted" th:text="${stop.getStopTime()}"></span>)
                        </li>
                        <li th:if="${trip.getStops().isEmpty()}">No Stops</li>
                    </ul>
                </td>
                <td class="text-centered text-danger" th:if="${trip.getStops().isEmpty()}"> No Stops</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div id="noTrips" class="notification hidden">
            No trips available for the selected criteria.
        </div>
    </div>
</div>
<script src="/js/filtering.js"></script>
</body>
</html>