<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Trips</title>
    <link rel="stylesheet" th:href="@{/css/trip-route-filter-table.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&display=swap" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }

        .notification {
            margin: 20px;
            font-style: italic;
            color: #888;
        }

        input[type = "text"], label {
            display: inline;
        }

        #main {
            flex: 1;
            width: 50%;
            max-width: 1000px;
            margin: 2rem auto;
            padding: 1.5rem;
        }
    </style>
</head>
<body>

<main id="main">
    <div class="title-container">
        <h1 class="title">Select a Route</h1>
    </div>

    <div class="filter-container-wrapper center text-center">
        <div class="filter-heading">
            <img src="/images/filter.png" alt="Filter Icon">
            <span>Filter</span>
        </div>
        <form th:method="GET" th:action="@{/search-routes}" class="w-100 align-items-center">
            <div class="row mb-3 g-3">
                <div class="col-md-6"><label class="filter-label" for="departure">From/Departure:</label>
                    <input id="departure" type="text" name="from" class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="filter-label" for="arrival">To/Arrival:</label>
                    <input id="arrival" name="to" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-danger w-50" id="goodbutton">
                <img src="/images/magnifying.png" alt="A magnifying glass" width="15" height="15">
                Search
            </button>
        </form>
    </div>

    <div class="routes-container">
        <div class="routes-table-wrapper">
            <table class="routes-table">
                <thead>
                <tr>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Company</th>
                    <th>
                        <img src="/images/eye.png" alt="A gazing eye" width='24' height='24'/>
                        Explore
                    </th>
                </tr>
                </thead>
                <tbody id="routes-list">
                <tr th:each="route : ${routes}">
                    <td th:text="${route.getSource().getName()}"></td>
                    <td th:text="${route.getDestination().getName()}"></td>
                    <td th:text="${route.getTranOrg().getCompanyName()}"></td>
                    <td class="action-column">
                        <a th:href="@{/trips/user}"
                           class="btn-redoutline">View Trips</a>
                    </td>
                <tr th:if="${noRoutesMessage}">
                    <td colspan="4" class="notification" th:text="${noRoutesMessage}"></td>
                </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>