@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.glowable {
    box-shadow: 0 0 0 red;
    background: #e12d2d; !important;
    color: white;
    transition: box-shadow 0.35s ease;
}

.glowable:hover {
    color: white;
    background: #e12d2d;
    box-shadow: 0 0 5px #da4141;
}