@import "imports.css";

#main {
    width: 100%;
    background: url("/images/redgrad.svg");
    background-size: cover;
    height: calc(100vh - 100px);
}

#macedonia-graphic {
    background: url("/images/roadmap.png");
    background-size: cover;
    border-radius: 20px;
}