@import "base.css";

.timeline {
    position: relative;
    padding-left: 30px;
}
.timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    height: calc(100% - 16px);
    width: 3px;
    background: linear-gradient(to bottom, #d95e5e, #6b7280);
}
.stop-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.stop-item::before {
    content: '';
    position: absolute;
    left: -31px;
    top: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color:#d02b2b;
    border: 3px solid white;
    box-shadow: 0 0 0 2px #d02b2b;
    z-index: 2;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.star-rating input {
    display: none;
}
.star-rating label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23d1d5db' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3e%3c/polygon%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    transition: all 0.2s;
}
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23d95e5e' stroke='%23d95e5e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3e%3c/polygon%3e%3c/svg%3e");
    transform: scale(1.1);
}
