<head>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/landing.css"/>
</head>

<div id="main">
<section class="container h-100 d-flex align-items-center justify-content-center vh-80">
    <div class="row w-100 justify-content-center align-items-center text-center">
        <h1 class="fw-bold fs-1">Explore RouteMK</h1>
        <p class="lead fs-2">Intra-city and intra-town travel in Macedonia, now made easy.</p>
        <div class="mt-3">
                <button class="btn glowable me fs-4"><i class="bi bi-ticket-perforated-fill me-2"></i>Book now</button>
                <button class="btn btn-light fs-4"><i class="bi bi-person-raised-hand me-2"></i>Contact</button>
        </div>
    </div>
</section>
</div>
