<head>
  <link href="/css/footer.css" rel="stylesheet">
</head>
<footer class="footer bg-dark border-top py-4">
  <div class="container text-center">
    <div class="d-flex justify-content-center gap-4">
      <a href="https://linkedin.com" target="_blank" class="footer-link">
        <img src="/images/linkedin.png" alt="LinkedIn" width="30" height="30">
      </a>
      <a href="https://github.com/KikoTheFinker/RouteMK" target="_blank" class="footer-link">
        <img src="/images/github.png" alt="GitHub" width="30" height="30">
      </a>
      <a href="https://develop.finki.ukim.mk/projects/routemk" target="_blank" class="footer-link">
        <img src="/images/trac.png" alt="Trac" width="30" height="30">
      </a>
    </div>
    <p class="mt-2 pb-2 text-secondary">2025 RouteMK. Software is free to redistribute non-profit.</p>
  </div>
</footer>