<head>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<nav class="navbar navbar-expand-lg" id="mainbar">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">
            <img style="position:relative; left:10px; bottom:2px;"
                 src="/images/pin.png" alt="Pin Logo" width="23" height="24" class="me-2">
            <span>Route<span class="text-danger">MK</span></span>
        </a>

        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav gap-1">
                <li class="nav-item"><a class="nav-link btn btn-small btn-transparent" href="/search-routes"><i
                        class="bi bi-signpost-split text-danger me-2"></i>All Routes</a></li>
                <li th:if="${#authorization.expression('hasRole(''USER'')')}" class="nav-item"><a
                        class="nav-link btn btn-small btn-transparent" href="/tickets"><i
                        class="bi bi-ticket-perforated me-2" style="color:#a717cf"></i>My Tickets</a></li>
                <li th:if="${#authorization.expression('hasRole(''USER'')')}"
                    class="nav-item"><a class="nav-link btn btn-small btn-transparent" href="/trips/user"><i
                        class="bi bi-luggage text-info me-2"></i>My Trips</a></li>
                <!-- Favorites Button -->
                <li th:if="${#authorization.expression('hasRole(''USER'')')}" class="nav-item">
                    <a class="nav-link btn btn-small btn-transparent" href="/favorites">
                        <i class="bi bi-heart text-warning me-2"></i>Favorites
                    </a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''TRANSPORT_ORGANIZER'')')}"
                    class="nav-item"><a class="nav-link btn btn-small btn-transparent" href="/routes/company"><i
                        class="bi bi-buildings text-primary me-2"></i>Manage Routes</a></li>
                <li th:if="${#authorization.expression('hasRole(''TRANSPORT_ORGANIZER'')')}"
                    class="nav-item"><a class="nav-link btn btn-small btn-transparent" href="/company-performance"><i
                        class="bi bi-graph-up text-success me-2"></i>Company Performance</a></li>
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                    class="nav-item"><a class="nav-link btn btn-small btn-transparent" href="/admin"><i
                        class="bi bi-person-lock text-success me-2"></i>Admin Panel</a></li>
            </ul>
        </div>

        <div>
            <a class="btn btn-small btn-transparent outline"
               th:href="@{/logout}"
               th:if="${#authorization.expression('isAuthenticated()')}">
                <span> <i class="bi bi-box-arrow-right text-secondary me-2"></i>Logout</span>
            </a>

            <a class="btn btn-small btn-transparent outline"
               th:href="@{/login}"
               th:unless="${#authorization.expression('isAuthenticated()')}">
                <span><i class="bi bi-door-open text-secondary me-2"></i></i>Login</span>
            </a>

            <a class="btn btn-small btn-transparent outline"
               th:href="@{/register}"
               th:unless="${#authorization.expression('isAuthenticated()')}">
                <span><i class="bi bi-person-plus text-secondary me-2"></i>Register</span>
            </a>
        </div>
    </div>
</nav>