<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<nav class="navbar navbar-expand-lg" id="mainbar">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">
            <img style="position:relative; left:10px; bottom:2px;"
                 src="/images/pin.png" alt="Pin Logo" width="23" height="24" class="me-2">
            <span>Route<span class="text-danger">MK</span></span>
        </a>

        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link btn btn-small btn-transparent" href="/search-routes"><i class="bi bi-signpost-split text-danger me-2"></i>Routes</a></li>
            </ul>
        </div>

        <div>
            <a class="btn btn-small btn-transparent outline"
               th:href="@{/logout}"
               th:if="${#authorization.expression('isAuthenticated()')}">
                <span> <i class="bi bi-box-arrow-right text-secondary me-2"></i>Logout</span>
            </a>

            <a class="btn btn-small btn-transparent outline"
               th:href="@{/login}"
               th:unless="${#authorization.expression('isAuthenticated()')}">
                <span><i class="bi bi-door-open text-secondary me-2"></i></i>Login</span>
            </a>

            <a class="btn btn-small btn-transparent outline"
               th:href="@{/register}"
               th:unless="${#authorization.expression('isAuthenticated()')}">
                <span><i class="bi bi-person-plus text-secondary me-2"></i>Register</span>
            </a>
        </div>
    </div>
</nav>
